<div class="col-md-12 no-padding">
  <!-- header -->
  <header ng-show="!$root.hide" style="z-index:1050;" id="header" hide-for-splash class="app-header  navbar bg-99lms-blue" role="menu" >
  </header>
  <!-- / header -->


<!-- home screen -->
<div class="col-md-12 bg-light h-full p">
	<a class="shadow-z-1 col-xs-12 bg-99lms-blue p m-t text-white" href="/app">Home</a>
	<div class="shadow-z-1 col-xs-12 bg-99lms-blue p m-t text-white">Offline materials.</div>
</div>
<!-- end home screen -->

</div>
